body {
margin: 0;
font-size: 28px;
font-family: Arial, Helvetica, sans-serif;
}

.header {
background-color: #f1f1f1;
padding: 30px;
text-align: center;
}

#navbar {overflow: hidden;
/* background-color: #333; */
margin-bottom: 20px;
z-index: 100;
position: absolute;
}

#navbar a {float: left;color: #f9f9f9;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;background-color: #333;}

#navbar a:hover {
background-color: #ff781e;
color: #f9f9f9;
}

#navbar a.active {
background-color: #2a7509
;
color: white;
}

.content {
padding: 16px;
}

.sticky {
position: fixed !important;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}

/* Navbar container 
.navbar {
overflow: hidden;
background-color: #333;
font-family: Arial;
}

/* Links inside the navbar 
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {float: left;overflow: hidden;}

/* Dropdown button */
.dropdown .dropbtn {font-size: 16px;border: none;outline: none;color: white;padding: 14px 16px;background-color: inherit;font-family: inherit; /* Important for vertical align on mobile phones */margin: 0; /* Important for vertical align on mobile phones */float: left;background-color: #333;height: 100%;}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropbtn:hover {
background-color: #ff781e;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: relative;
background-color: #333;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1; 
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropbtn:hover .dropdown-content {
display: grid;
}

.container {
background-color: #FFFFFF;

border: 2px solid darkgrey;
border-radius: 7px;
font-family: "Calibri", serif;
font-size: 20px;
text-align: justify;
margin: 60px auto;
width:98%;
position: relative;
}

/* Height of picture within the carousel-slide */
.carousel-inner {
height: 262px;
}




.skyblue {
background-color: #22c8ff;
}

.carousel-indicators {
bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
background-image: none;
}
.carousel-item {
min-height: 350px; 
height: 100%;
width:100%; 
}
.carousel-caption h3,
.carousel .icon-container,
.carousel-caption button {
background-color: #09c;
}
.carousel-caption h3 {
padding: .5em;
}
.carousel .icon-container {
display: inline-block;
font-size: 25px;
line-height: 25px;
padding: 1em;
text-align: center;
border-radius: 50%;
}
.carousel-caption button {
border-color: #00bfff;
margin-top: 1em; 
}

/* Animation delays */
.carousel-caption h3:first-child {
animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
animation-delay: 2s;
}
.carousel-caption button {
animation-delay: 3s;
}

h1 {
text-align: center;  
margin-bottom: 30px;
font-size: 30px;
font-weight: bold;
}

.p {
padding-top: 125px;
text-align: center;
}

.p a {
text-decoration: underline;
}

label {
margin: 14.5px 16px;
}
